__pycache__/
*.py[cod]
*.so
.Python

.venv/
venv/
env/
ENV/

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

*.db
*.sqlite
*.sqlite3
.env

# Git, IDE, CI
.git/
.gitignore
.github/
.idea/
.vscode/
*.swp
.DS_Store
Тестовое_Junior_Python_FastAPI.pdf
AI_LOG.md